@charset "UTF-8";
/*
 ██████  ███████ ███    ██ ███████ ██████   █████  ██      
██       ██      ████   ██ ██      ██   ██ ██   ██ ██      
██   ███ █████   ██ ██  ██ █████   ██████  ███████ ██      
██    ██ ██      ██  ██ ██ ██      ██   ██ ██   ██ ██      
 ██████  ███████ ██   ████ ███████ ██   ██ ██   ██ ███████ 
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin-right: 0;
  margin-left: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  background: #eff0f4;
}

p {
  text-align: justify;
}

.part {
  padding-bottom: 3%;
}
.part > h4,
.part > p,
.part > ul,
.part > table {
  margin: 0 8%;
}

.fonce {
  background-color: #c1e8e8;
}

h1 {
  padding-bottom: 3%;
  font-size: 2.8em;
  font-weight: 700;
  margin: 0;
  color: #068585;
}

h2 {
  color: #850606;
  margin: 0;
  font-weight: 500;
  text-align: center;
  padding: 3% 0;
}

h4 {
  padding-bottom: 3%;
  font-size: 1.3rem;
  font-weight: 500;
}

/*
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██ 
*/
#navig {
  padding-left: 7%;
  padding-right: 6%;
  background-color: #068585;
}

.navbar-brand,
.nav-link {
  color: #eff0f4;
}
.navbar-brand:hover, .navbar-brand:focus,
.nav-link:hover,
.nav-link:focus {
  color: #c1e8e8;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
}

.dropdown-menu {
  background-color: #068585;
}
.dropdown-menu .dropdown-item {
  color: #eff0f4;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  color: #eff0f4;
  background-color: #045454;
}

/*
██████   █████  ███    ██ ███    ██ ██ ███████ ██████  ███████ 
██   ██ ██   ██ ████   ██ ████   ██ ██ ██      ██   ██ ██      
██████  ███████ ██ ██  ██ ██ ██  ██ ██ █████   ██████  █████   
██   ██ ██   ██ ██  ██ ██ ██  ██ ██ ██ ██      ██   ██ ██      
██████  ██   ██ ██   ████ ██   ████ ██ ███████ ██   ██ ███████ 
*/
#banner {
  display: flex;
  position: relative;
  height: 85vh;
}
#banner #imgbanner {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  opacity: 0.45;
}
#banner .resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 0 8%;
  position: absolute;
  z-index: 1;
}

/*
██████   █████  ██████   █████  ██      ██       █████  ██   ██ 
██   ██ ██   ██ ██   ██ ██   ██ ██      ██      ██   ██  ██ ██  
██████  ███████ ██████  ███████ ██      ██      ███████   ███   
██      ██   ██ ██   ██ ██   ██ ██      ██      ██   ██  ██ ██  
██      ██   ██ ██   ██ ██   ██ ███████ ███████ ██   ██ ██   ██ 
*/
.parallax {
  position: relative;
  min-height: 40vh;
  opacity: 0.7;
  box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.45);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#img01 {
  background-image: url(../ressources/parallax1.jpg);
}

#img02 {
  background-image: url(../ressources/parallax2.jpg);
}

/*
███    ███ ██ ███████ ███████ ██  ██████  ███    ██ 
████  ████ ██ ██      ██      ██ ██    ██ ████   ██ 
██ ████ ██ ██ ███████ ███████ ██ ██    ██ ██ ██  ██ 
██  ██  ██ ██      ██      ██ ██ ██    ██ ██  ██ ██ 
██      ██ ██ ███████ ███████ ██  ██████  ██   ████ 
*/
.missions {
  margin: 0 8% 2% 8%;
  display: flex;
  flex-direction: column;
}
.missions .oneMission {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  height: 300px;
  /* hauteur ajoutée */
}
.missions .oneMission .textMission,
.missions .oneMission .imgMission {
  flex: 1 1 50%;
}
.missions .oneMission .imgMission {
  height: 100%;
}
.missions .oneMission .imgMission img {
  height: 90%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.missions .oneMission .imgMission img:hover {
  filter: grayscale(1);
}
@media (max-width: 992px) {
  .missions .oneMission:first-of-type {
    flex-direction: column;
  }
  .missions .oneMission:last-of-type {
    flex-direction: column-reverse;
  }
  .missions .oneMission {
    height: auto;
    /* Hauteur auto pour s'adapter au contenu */
  }
  .missions .oneMission .textMission,
  .missions .oneMission .imgMission {
    flex: none;
    width: 100%;
  }
  .missions .oneMission .imgMission {
    height: 300px;
  }
}

/*
███████ ██   ██ ██████  ███████ ██████  ████████ ██ ███████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██    ██    ██ ██      ██      
█████     ███   ██████  █████   ██████     ██    ██ ███████ █████   
██       ██ ██  ██      ██      ██   ██    ██    ██      ██ ██      
███████ ██   ██ ██      ███████ ██   ██    ██    ██ ███████ ███████ 
*/
.contain {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2% 8%;
  gap: 25px 25px;
}
.contain .drop {
  position: relative;
  width: 250px;
  height: 250px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.1), 25px 35px 20px rgba(0, 0, 0, 0.1), 25px 30px 30px rgba(0, 0, 0, 0.1), inset -20px -20px 20px rgba(200, 200, 200, 0.9);
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain .drop:nth-child(1) {
  border-radius: 53% 47% 48% 52%/62% 32% 68% 38%;
}
.contain .drop:nth-child(2) {
  border-radius: 43% 57% 61% 39%/32% 52% 48% 68%;
}
.contain .drop:nth-child(3) {
  border-radius: 49% 51% 50% 50%/62% 26% 74% 38%;
}
.contain .drop:hover {
  border-radius: 50%;
}
.contain .drop::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 70px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
}
.contain .drop::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 90px;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
}
.contain .drop .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  gap: 20px;
}
.contain .drop .content h2 {
  position: relative;
  width: 50px;
  height: 50px;
  background: #eff0f4;
  border-radius: 50%;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1), inset -2px -5px 10px rgb(255, 255, 255), 10px 7px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.contain .drop .content .bouton {
  position: relative;
  padding: 0 15px;
  background: #850606;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  opacity: 1;
  transition: 0.3s;
  border: none;
}
.contain .drop .content .bouton:hover {
  opacity: 0.75;
  color: #fff;
}

/*
███████ ███    ██      █████  ████████ ████████ ███████ ███    ██ ██████   █████  ███    ██ ████████ 
██      ████   ██     ██   ██    ██       ██    ██      ████   ██ ██   ██ ██   ██ ████   ██    ██    
█████   ██ ██  ██     ███████    ██       ██    █████   ██ ██  ██ ██   ██ ███████ ██ ██  ██    ██    
██      ██  ██ ██     ██   ██    ██       ██    ██      ██  ██ ██ ██   ██ ██   ██ ██  ██ ██    ██    
███████ ██   ████     ██   ██    ██       ██    ███████ ██   ████ ██████  ██   ██ ██   ████    ██    
*/
#groupes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8%;
  gap: 5%;
}
#groupes .aQui {
  flex-basis: 40%;
}
#groupes .aQui .blue {
  font-weight: bold;
  color: #068585;
}
#groupes .aQui .red {
  font-weight: bold;
  color: #850606;
}
#groupes #anim {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eff0f4;
  border-radius: 10px;
}
#groupes #anim .donneurs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#groupes #anim .donneurs .grpDonneur {
  margin: 10px;
  margin-top: 30px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  background-color: #068585;
  color: #eff0f4;
  border: none;
  cursor: pointer;
}
#groupes #anim .donneurs .grpDonneur:hover {
  background-color: #c1e8e8;
  color: #068585;
}
#groupes #anim .receveurs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#groupes #anim .receveurs .grpReceveur {
  margin: 10px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  background-color: #f36161;
  color: black;
}
#groupes #anim #reset {
  margin: 30px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}
#groupes #anim #reset:hover {
  background-color: #a6a6a6;
}
@media screen and (max-width: 992px) {
  #groupes {
    flex-direction: column;
  }
  #groupes .aQui,
  #groupes #anim {
    flex-basis: 100%;
  }
}

/*
██████   █████  ██████  ████████ ███████ ███    ██  █████  ██ ██████  ███████ ███████ 
██   ██ ██   ██ ██   ██    ██    ██      ████   ██ ██   ██ ██ ██   ██ ██      ██      
██████  ███████ ██████     ██    █████   ██ ██  ██ ███████ ██ ██████  █████   ███████ 
██      ██   ██ ██   ██    ██    ██      ██  ██ ██ ██   ██ ██ ██   ██ ██           ██ 
██      ██   ██ ██   ██    ██    ███████ ██   ████ ██   ██ ██ ██   ██ ███████ ███████ 
*/
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1250px);
  }
}
.slider {
  background: #fff;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 70vw;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 150px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scrolling 20s linear infinite;
  display: flex;
  width: 2500px;
}
.slider .slide {
  height: 150px;
  width: 250px;
}
.slider .slide img {
  height: 150px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

/*
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██
*/
#footer {
  text-align: center;
  padding: 1.5% 0;
}

/*
██████   █████   ██████  ███████     ███████  ██████  ██    ██ ██ ██████  ███████ 
██   ██ ██   ██ ██       ██          ██      ██    ██ ██    ██ ██ ██   ██ ██      
██████  ███████ ██   ███ █████       █████   ██    ██ ██    ██ ██ ██████  █████   
██      ██   ██ ██    ██ ██          ██      ██ ▄▄ ██ ██    ██ ██ ██      ██      
██      ██   ██  ██████  ███████     ███████  ██████   ██████  ██ ██      ███████ 
                                                 ▀▀                                
*/
.banniere {
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.banniere .imgequipe {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
  opacity: 0.4;
}
.banniere .nomequipe {
  position: absolute;
  z-index: 2;
  font-size: 3em;
  align-self: center;
  padding: 0 8%;
}

.projet {
  padding-bottom: 3%;
  margin: 0 8%;
}

.cards {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1.5em;
  padding: 1% 8%;
  justify-items: center;
  align-items: center;
}
.cards .card {
  border: none;
}
.cards .card:hover {
  transform: scale(1.1);
}
.cards .card .card-body {
  text-align: left;
}
.cards .card .card-body .card-title {
  font-size: medium;
}

/*
██████   █████   ██████  ███████      ██████  ██████  ███    ██ ████████  █████   ██████ ████████ 
██   ██ ██   ██ ██       ██          ██      ██    ██ ████   ██    ██    ██   ██ ██         ██    
██████  ███████ ██   ███ █████       ██      ██    ██ ██ ██  ██    ██    ███████ ██         ██    
██      ██   ██ ██    ██ ██          ██      ██    ██ ██  ██ ██    ██    ██   ██ ██         ██    
██      ██   ██  ██████  ███████      ██████  ██████  ██   ████    ██    ██   ██  ██████    ██    
*/
#titreContact {
  padding: 2% 0%;
}

.star {
  color: #850606;
}

.btn-primary {
  background-color: #068585;
  border: none;
}
.btn-primary:hover {
  background-color: #c1e8e8;
}

.contact {
  display: flex;
  flex-direction: row;
  padding: 2%;
  gap: 5%;
  background: rgb(193, 232, 232);
  background: radial-gradient(circle, rgb(193, 232, 232), rgb(239, 240, 244));
}
.contact .formulaire, .contact #map {
  flex: 1 1 50%;
}
@media (max-width: 992px) {
  .contact {
    flex-direction: column;
  }
  .contact .formulaire, .contact #map {
    width: 100%;
  }
  .contact .formulaire {
    padding-bottom: 3%;
  }
}/*# sourceMappingURL=style.css.map */