/*
 ██████  ███████ ███    ██ ███████ ██████   █████  ██      
██       ██      ████   ██ ██      ██   ██ ██   ██ ██      
██   ███ █████   ██ ██  ██ █████   ██████  ███████ ██      
██    ██ ██      ██  ██ ██ ██      ██   ██ ██   ██ ██      
 ██████  ███████ ██   ████ ███████ ██   ██ ██   ██ ███████ 
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// Variables de couleurs
$dark-red: #850606;
$dark-blue: #068585;
$light-blue: #c1e8e8;
$bg-body: #eff0f4;

* {
    margin-right: 0;
    margin-left: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    background: $bg-body;
}

p {
    text-align: justify;
}

.part {
    padding-bottom: 3%;

    >h4,
    >p,
    >ul,
    >table {
        margin: 0 8%;
    }
}

.fonce {
    background-color: $light-blue;
}

h1 {
    padding-bottom: 3%;
    font-size: 2.8em;
    font-weight: 700;
    margin: 0;
    color: $dark-blue;
}

h2 {
    color: $dark-red;
    margin: 0;
    font-weight: 500;
    text-align: center;
    padding: 3% 0;
}

h4 {
    padding-bottom: 3%;
    font-size: 1.3rem;
    font-weight: 500;
}

/*
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██ 
*/

#navig {
    padding-left: 7%;
    padding-right: 6%;
    background-color: $dark-blue;
}

.navbar-brand,
.nav-link {
    color: $bg-body;

    &:hover,
    &:focus {
        color: $light-blue;
    }
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2rem;
}

.dropdown-menu {
    background-color: $dark-blue;

    .dropdown-item {
        color: $bg-body;

        &:hover,
        &:focus {
            color: $bg-body;
            background-color: darken($dark-blue, 10%);
        }
    }
}

/*
██████   █████  ███    ██ ███    ██ ██ ███████ ██████  ███████ 
██   ██ ██   ██ ████   ██ ████   ██ ██ ██      ██   ██ ██      
██████  ███████ ██ ██  ██ ██ ██  ██ ██ █████   ██████  █████   
██   ██ ██   ██ ██  ██ ██ ██  ██ ██ ██ ██      ██   ██ ██      
██████  ██   ██ ██   ████ ██   ████ ██ ███████ ██   ██ ███████ 
*/

#banner {
    display: flex;
    position: relative;
    height: 85vh;

    #imgbanner {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        opacity: 0.45;
    }

    .resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin: 0 8%;
        position: absolute;
        z-index: 1;
    }
}

/*
██████   █████  ██████   █████  ██      ██       █████  ██   ██ 
██   ██ ██   ██ ██   ██ ██   ██ ██      ██      ██   ██  ██ ██  
██████  ███████ ██████  ███████ ██      ██      ███████   ███   
██      ██   ██ ██   ██ ██   ██ ██      ██      ██   ██  ██ ██  
██      ██   ██ ██   ██ ██   ██ ███████ ███████ ██   ██ ██   ██ 
*/

.parallax {
    position: relative;
    min-height: 40vh;
    opacity: 0.7;

    box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.45);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#img01 {
    background-image: url(../ressources/parallax1.jpg);
}

#img02 {
    background-image: url(../ressources/parallax2.jpg);
}

/*
███    ███ ██ ███████ ███████ ██  ██████  ███    ██ 
████  ████ ██ ██      ██      ██ ██    ██ ████   ██ 
██ ████ ██ ██ ███████ ███████ ██ ██    ██ ██ ██  ██ 
██  ██  ██ ██      ██      ██ ██ ██    ██ ██  ██ ██ 
██      ██ ██ ███████ ███████ ██  ██████  ██   ████ 
*/

.missions {
    margin: 0 8% 2% 8%;
    display: flex;
    flex-direction: column;

    .oneMission {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;
        height: 300px;

        /* hauteur ajoutée */
        .textMission,
        .imgMission {
            flex: 1 1 50%;
        }

        .imgMission {
            height: 100%;

            img {
                height: 90%;
                width: 100%;
                object-fit: cover;

                &:hover {
                    filter: grayscale(1);
                }
            }
        }
    }

    @media (max-width: 992px) {
        .oneMission:first-of-type {
            flex-direction: column;
        }
        .oneMission:last-of-type {
            flex-direction: column-reverse;
        }
        .oneMission {
            height: auto;

            /* Hauteur auto pour s'adapter au contenu */
            .textMission,
            .imgMission {
                flex: none;
                width: 100%;
            }

            .imgMission {
                height: 300px;
            }
        }
    }
}



/*
███████ ██   ██ ██████  ███████ ██████  ████████ ██ ███████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██    ██    ██ ██      ██      
█████     ███   ██████  █████   ██████     ██    ██ ███████ █████   
██       ██ ██  ██      ██      ██   ██    ██    ██      ██ ██      
███████ ██   ██ ██      ███████ ██   ██    ██    ██ ███████ ███████ 
*/

// Gouttes d'eau correspondant aux 3 équipes
.contain {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 8%;
    gap: 25px 25px;

    // Caractéristiques d'une goutte
    .drop {
        position: relative;
        width: 250px;
        height: 250px;
        box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.1),
            25px 35px 20px rgba(0, 0, 0, 0.1),
            25px 30px 30px rgba(0, 0, 0, 0.1),
            inset -20px -20px 20px rgba(200, 200, 200, 0.9);
        transition: 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        // Forme de chaque goutte
        &:nth-child(1) {
            border-radius: 53% 47% 48% 52% / 62% 32% 68% 38%;
        }

        &:nth-child(2) {
            border-radius: 43% 57% 61% 39% / 32% 52% 48% 68%;
        }

        &:nth-child(3) {
            border-radius: 49% 51% 50% 50% / 62% 26% 74% 38%;
        }

        &:hover {
            border-radius: 50%;
        }

        // Petits reflets
        &::before {
            content: "";
            position: absolute;
            top: 30px;
            left: 70px;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50%;
            opacity: 0.5;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50px;
            left: 90px;
            width: 7px;
            height: 7px;
            background: #fff;
            border-radius: 50%;
            opacity: 0.5;
        }

        .content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 20px;
            gap: 20px;

            // Deuxième petite goutte contenant le numéro d'équipe
            h2 {
                position: relative;
                width: 50px;
                height: 50px;
                background: #eff0f4;
                border-radius: 50%;
                box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
                    inset -2px -5px 10px rgba(255, 255, 255, 1),
                    10px 7px 15px rgba(0, 0, 0, 0.15);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
            }

            // Bouton
            .bouton {
                position: relative;
                padding: 0 15px;
                background: $dark-red;
                text-decoration: none;
                color: #fff;
                border-radius: 25px;
                opacity: 1;
                transition: 0.3s;
                border: none;

                &:hover {
                    opacity: 0.75;
                    color: #fff;
                }
            }
        }
    }
}

/*
███████ ███    ██      █████  ████████ ████████ ███████ ███    ██ ██████   █████  ███    ██ ████████ 
██      ████   ██     ██   ██    ██       ██    ██      ████   ██ ██   ██ ██   ██ ████   ██    ██    
█████   ██ ██  ██     ███████    ██       ██    █████   ██ ██  ██ ██   ██ ███████ ██ ██  ██    ██    
██      ██  ██ ██     ██   ██    ██       ██    ██      ██  ██ ██ ██   ██ ██   ██ ██  ██ ██    ██    
███████ ██   ████     ██   ██    ██       ██    ███████ ██   ████ ██████  ██   ██ ██   ████    ██    
*/

#groupes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8%;
    gap: 5%;
  
    .aQui {
      flex-basis: 40%;

      .blue{
        font-weight: bold;
        color: $dark-blue;
        // background-color: $dark-blue;
      }
      .red{
        font-weight: bold;
        color: $dark-red;
        // background-color: #f36161;
      }
    }
  
    #anim {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $bg-body;
      border-radius: 10px;
  
      .donneurs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
  
        .grpDonneur {
          margin: 10px;
          margin-top: 30px;
          font-size: 1.2rem;
          padding: 10px;
          border-radius: 5px;
          background-color: $dark-blue;
          color: $bg-body;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: $light-blue;
            color: $dark-blue;
          }
        }
      }
  
      .receveurs {
        display: flex;
        justify-content: center;
        margin-top: 30px;
  
        .grpReceveur {
          margin: 10px;
          font-size: 1.2rem;
          padding: 10px;
          border-radius: 5px;
          background-color: #f36161;
          color: black;
        }
      }
  
      #reset {
        margin: 30px;
        font-size: 1.2rem;
        padding: 10px;
        border-radius: 5px;
        background-color: gray;
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: #a6a6a6;
        }
      }
    }
    
    @media screen and (max-width: 992px) {
      flex-direction: column;
      
      .aQui,
      #anim {
        flex-basis: 100%;
      }
    }
  }

/*
██████   █████  ██████  ████████ ███████ ███    ██  █████  ██ ██████  ███████ ███████ 
██   ██ ██   ██ ██   ██    ██    ██      ████   ██ ██   ██ ██ ██   ██ ██      ██      
██████  ███████ ██████     ██    █████   ██ ██  ██ ███████ ██ ██████  █████   ███████ 
██      ██   ██ ██   ██    ██    ██      ██  ██ ██ ██   ██ ██ ██   ██ ██           ██ 
██      ██   ██ ██   ██    ██    ███████ ██   ████ ██   ██ ██ ██   ██ ███████ ███████ 
*/

// Description de l'animation
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 5));
    }
}

// Conteneur du slider
.slider {
    background: #fff;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 70vw;

    // Blur sur les côtés
    &::before,
    &::after {
        background: linear-gradient(to right,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 150px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    // Animation du slider : rotation des images en boucle
    .slide-track {
        animation: scrolling 20s linear infinite;
        display: flex;
        width: calc(250px * 10);
    }

    // Taille du slider et des images
    .slide {
        height: 150px;
        width: 250px;

        img {
            height: 150px;
            width: 250px;
            object-fit: contain;
        }
    }
}

/*
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██
*/

#footer {
    text-align: center;
    padding: 1.5% 0;
}

/*
██████   █████   ██████  ███████     ███████  ██████  ██    ██ ██ ██████  ███████ 
██   ██ ██   ██ ██       ██          ██      ██    ██ ██    ██ ██ ██   ██ ██      
██████  ███████ ██   ███ █████       █████   ██    ██ ██    ██ ██ ██████  █████   
██      ██   ██ ██    ██ ██          ██      ██ ▄▄ ██ ██    ██ ██ ██      ██      
██      ██   ██  ██████  ███████     ███████  ██████   ██████  ██ ██      ███████ 
                                                 ▀▀                                
*/

.banniere {
    position: relative;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;

    .imgequipe {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        opacity: 0.40;
    }

    .nomequipe {
        position: absolute;
        z-index: 2;
        font-size: 3em;
        align-self: center;
        padding: 0 8%;
    }
}

.projet {
    padding-bottom: 3%;
    margin: 0 8%;
}

.cards {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1.5em;
    padding: 1% 8%;
    justify-items: center;
    align-items: center;

    .card {
        border: none;

        &:hover {
            transform: scale(1.1);
        }

        .card-body {
            text-align: left;

            .card-title {
                font-size: medium;
            }
        }
    }
}

/*
██████   █████   ██████  ███████      ██████  ██████  ███    ██ ████████  █████   ██████ ████████ 
██   ██ ██   ██ ██       ██          ██      ██    ██ ████   ██    ██    ██   ██ ██         ██    
██████  ███████ ██   ███ █████       ██      ██    ██ ██ ██  ██    ██    ███████ ██         ██    
██      ██   ██ ██    ██ ██          ██      ██    ██ ██  ██ ██    ██    ██   ██ ██         ██    
██      ██   ██  ██████  ███████      ██████  ██████  ██   ████    ██    ██   ██  ██████    ██    
*/

#titreContact {
    padding: 2% 0%;
}

.star {
    color: $dark-red;
}

.btn-primary {
    background-color: $dark-blue;
    border: none;

    &:hover {
        background-color: $light-blue;
    }
}

.contact {
    display: flex;
    flex-direction: row;
    padding: 2%;
    gap: 5%;
    background: rgb(193, 232, 232);
    background: radial-gradient(circle, rgba(193, 232, 232, 1), rgba(239, 240, 244, 1));
    
    .formulaire, #map {
        flex: 1 1 50%;
    }

    @media (max-width: 992px) {
        flex-direction: column;
        .formulaire, #map {
            width: 100%;
        }
        .formulaire {
            padding-bottom: 3%;
        }
    }
}